.contact__item {
	display: flex;
	align-items: center;
	justify-content: left;
}

.contact__name {
	display: flex;
	flex-direction: column;
	line-height: 1.1;
}

.contact__name div {
	max-width: 200px;

	overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
}

.contact__name div:last-child {
	font-size: 10px;
}

.contact__photo {
	margin-right: 15px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	
	overflow: hidden;
	
}

.contact__photo img {
	width: auto;
  	max-height: 100%;
}




